:root {
  --primary-color: #333;
  --secondary-color: #999;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-row {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input,
textarea {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.form-row input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: 1px solid lightblue;
}

textarea {
  resize: vertical;
}

.form-row label {
  margin-bottom: 8px;
}

.editable {
  position: relative;
  padding: 16px 0;
}

.editable > .button-controls {
  position: absolute;
  right: 0;
  bottom: 0;
}

.editable:hover > .button-controls {
  visibility: visible;
}

.button-controls > button:nth-child(odd) {
  margin-right: 16px;
}

.hidden {
  visibility: hidden;
}

.btn {
  background-color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
}

.btn-primary {
  border: 1px solid #007bff;
  color: #007bff;
}

.btn-primary:hover {
  background-color: #007bff;
}

.btn-secondary {
  border: 1px solid #6c757d;
  color: #6c757d;
}

.btn-secondary:hover {
  background-color: #6c757d;
}

.btn-success {
  border: 1px solid #28a745;
  color: #28a745;
}

.btn-success:hover {
  background-color: #28a745;
}

.btn-danger {
  border: 1px solid #dc3545;
  color: #dc3545;
}

.btn-danger:hover {
  background-color: #dc3545;
}

.section {
  margin-bottom: 24px;
}

.add-button {
  margin-top: 16px;
}

.font-secondary {
  color: var(--secondary-color);
}
